
@{
    ViewBag.Title = "Alcohol Page";
}

<h2>Uppvägning</h2>
<div>
    <form>

        <div class="form-group">
            <label>Dryck</label>
            <select class="selectpicker" multiple>            
                <option>Cider</option>
                <option>Öl</option>
                <option>Vidars Specialitet</option>
                <option>VODKA DAVAI DAVAI</option>
            </select>
        </div>

        <div class="form-group">
            <label for="usr">Volym:</label>
            <input type="text" class="form-control" id="usr">

           
        </div>

        <div class="form-group">
            <label>Enhet för uppvägning:</label>
            <select class="selectpicker" multiple>
                <option>Styck</option>
                <option>Gram</option>
                <option>Centiliter</option>
                <option>Liter</option>
            </select>
        </div>

        <div class="form-group">
            <label for="usr">Pris:</label>
            <input type="text" class="form-control" id="usr">
        </div>

        <button type="button" class="btn btn-success">Lägg till</button>

      <p>Carlsberg, 33cl, 5%, 19,90:-     (30 st)</p>
        <p>Tequila, 40%, 199:- (1500g)          </p>
        <p>Viko cider, 33cl, 4.5%, 11.50:-  (20 st)</p>
       

        <button type="button" class="btn btn-success">Klar</button>
    </form>
</div>

<h2>Nedvägning</h2>
<div>
    <form>

        <div class="form-group">
            <label>Dryck</label>
            <select class="selectpicker" multiple>
                <option>Cider</option>
                <option>Öl</option>
                <option>Vidars Specialitet</option>
                <option>VODKA DAVAI DAVAI</option>
            </select>
        </div>

        <div class="form-group">
            <label for="usr">Volym:</label>
            <input type="text" class="form-control" id="usr">


        </div>

        <div class="form-group">
            <label>Enhet för nedvägning:</label>
            <select class="selectpicker" multiple>
                <option>Styck</option>
                <option>Gram</option>
                <option>Centiliter</option>
                <option>Liter</option>
            </select>
        </div>

        <div class="form-group">
            <label for="usr">Pris:</label>
            <input type="text" class="form-control" id="usr">
        </div>

        <button type="button" class="btn btn-success">Lägg till</button>

        <p>Carlsberg, 33cl, 5%, 19,90:-     (11 st)</p>
        <p>Tequila, 40%, 199:- (248g)          </p>
        <p>Viko cider, 33cl, 4.5%, 11.50:-  (14 st)</p>


        <button type="button" class="btn btn-success">Klar</button>
    </form>
</div>