@{
    ViewBag.Title = "Event Page";
}

<h2>EVENT</h2>
<div>
    <form>
        <div class="form-group">
            <label for="usr">Namn på event:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="usr">Datum:</label>
            <input type="date" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="usr">Adress:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="usr">Typ av event:</label>
            <select class="selectpicker">
                <option>Sittning</option>
                <option>Mat hos patrik</option>
                <option>Fest</option>
                <option>Lan</option>
            </select>
        </div>

        <div class="form-group">
            <label for="textAreaDescription">Example textarea</label>
            <textarea class="form-control" id="textAreaDescription" rows="3"></textarea>
        </div>

        <div class="form-group">
            <select class="selectpicker" multiple>
                <option>Martin</option>
                <option>Vidar</option>
                <option>Rasmus</option>
                <option>Lille Patrik</option>
            </select>
        </div>
        <button type="button" class="btn btn-danger">Avbryt</button>
        <button type="button" class="btn btn-success">Klar</button>
    </form>
</div>